# Flexget configuration
!/config/flexget/config.yml
!/config/flexget/variables.yml.example
/config/flexget/*

# Transmission configuration
!/config/transmission/settings.json
/config/transmission/*

# Plex empty files
!/config/plex/config/.empty
!/config/plex/temp/.empty
/config/plex/*