# Flexget configuration only
config/flexget/*
!config/flexget/config.yml
!config/flexget/variables.yml.example

# Transmission configuration only
config/transmission/*
!config/transmission/settings.json